.widen-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.widen-modal-content {
  background-color: #fefefe;
  margin: 5% auto 2%;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 80%;
}

.widen-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.widen-modal-close:hover,
.widen-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.widen-content {
  height: 100%;
}
